doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  title admin-dashboard
  link(rel='stylesheet' href='/app/public/css/dashboard.css')
  link(rel='stylesheet' href='/app/public/css/responsive.css')
header
  img(src='/app/public/images/logo.png' alt='logo' height='50')
  .logosec
    img#menuicn.icn.menuicn(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png' alt='menu-icon')
  .searchbar
    input(type='text' placeholder='Search')
    .searchbtn
      img.icn.srchicn(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png' alt='search-icon')
  .message
    .circle
    img.icn(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/8.png' alt='')
    .dp
      img.dpicn(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png' alt='dp')
.main-container
  .navcontainer
    nav.nav
      .nav-upper-options
        .nav-option.option1
          img.nav-img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210182148/Untitled-design-(29).png' alt='dashboard')
          h3  Dashboard
        .option2.nav-option
          img.nav-img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png' alt='articles')
          h3  Customers
        .nav-option.option3
          img.nav-img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/5.png' alt='report')
          h3  Report
        .nav-option.option4
          img.nav-img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/6.png' alt='institution')
          h3  Slots
        .nav-option.option5
          img.nav-img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210183323/10.png' alt='blog')
          h3  Profile
        .nav-option.option6
          img.nav-img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/4.png' alt='settings')
          h3  Settings
        .nav-option.logout
          img.nav-img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png' alt='logout')
          h3.btn.btn-primary(onclick='logout()') Log Out
  .main
    .searchbar2
      input(type='text' name='' id='' placeholder='Search')
      .searchbtn
        img.icn.srchicn(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png' alt='search-button')
    .box-container
      .box.box1
        .text
          h2.topic-heading 609
          h2.topic(href='#') Customers
        img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210184645/Untitled-design-(31).png' alt='customers')
      .box.box2
        .text
          h2.topic-heading 150
          h2.topic Likes
        img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210185030/14.png' alt='likes')
      .box.box3
        .text
          h2.topic-heading 320
          h2.topic feedback
        img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210184645/Untitled-design-(32).png' alt='feedback')
      .box.box4
        .text
          h2.topic-heading 70
          h2.topic Payments
        img(src='https://media.geeksforgeeks.org/wp-content/uploads/20221210185029/13.png' alt='payments')
    .report-container
      .report-header
        h1.recent-Articles Recent Customers
        button.view View All
      .report-body
        .report-topic-heading
          h3.t-op Names
          h3.t-op Services
          h3.t-op Comments
          h3.t-op Status
        .items
          .item1
            h3.t-op-nextlvl Ken Wazodi
            h3.t-op-nextlvl Battery hire
            h3.t-op-nextlvl it was amazing
            h3.t-op-nextlvl.label-tag Paid
          .item1
            h3.t-op-nextlvl Mark Sebata
            h3.t-op-nextlvl Tyre clinic
            h3.t-op-nextlvl good
            h3.t-op-nextlvl.label-tag Paid
          .item1
            h3.t-op-nextlvl Natasha Ahumuza
            h3.t-op-nextlvl Car washing
            h3.t-op-nextlvl well washed
            h3.t-op-nextlvl.label-tag Paid
          .item1
            h3.t-op-nextlvl Winfred N
            h3.t-op-nextlvl personal car paking
            h3.t-op-nextlvl well kept
            h3.t-op-nextlvl.label-tag Paid
          .item1
            h3.t-op-nextlvl Claire Owamani
            h3.t-op-nextlvl Truck parking
            h3.t-op-nextlvl thank you
            h3.t-op-nextlvl.label-tag Park
          .item1
            h3.t-op-nextlvl Mellon A
            h3.t-op-nextlvl bodaboda parking
            h3.t-op-nextlvl nice!
            h3.t-op-nextlvl.label-tag Paid
          .item1
            h3.t-op-nextlvl Monica Mirembe
            h3.t-op-nextlvl Battery hire
            h3.t-op-nextlvl it was helpful
            h3.t-op-nextlvl.label-tag Paid
          .item1
            h3.t-op-nextlvl Anita Niewpoort
            h3.t-op-nextlvl Battery hire
            h3.t-op-nextlvl Thank you
            h3.t-op-nextlvl.label-tag Paid
          .item1
            h3.t-op-nextlvl Angel U
            h3.t-op-nextlvl Truck parking
            h3.t-op-nextlvl Amazing!
            h3.t-op-nextlvl.label-tag Paid
script(src='./index.js')
script.
  function logout() {
  // perform logout logic here
  alert("logout successful! redirecting to the home page...");
  setTimeout(function() {
  window.location.href = "../html/index.html";
  }, 2000);
  // after 2 seconds it redirects back to the home page
  }
| nextlvl