doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign Up Page
  link(rel='stylesheet' type='text/css' href='../css/ParkingRegister.css')
  script(defer='' src='../js/registerValidation.js')
main
  .sign-up
    form.signup-form(action='post' data-netlify='true')
      .form-btn
        input#usernmae(placeholder='Username' type='text')
        .error
        // <img class="icon" src="./Images/icon-error.svg" alt="Error">
        // <p class="msg">Name cannot be empty</p>
      .form-btn
        input(type='email' placeholder='Email' required='')
        // <img class="icon" src="./Images/icon-error.svg" alt="Error">
        // <p class="msg">Looks like this this not an email</p>
      .form-btn
        input(type='text' placeholder='Phone Number' required='')
        // <img class="icon" src="./Images/icon-error.svg" alt="Error">
        // <p class="msg">Phone Number cannot be empty</p>
      .form-btn
        input(type='password' placeholder='Password' required='')
        // <img class="icon" src="images/" alt="Error">
        // <p class="msg">Password cannot be empty</p>
      .form-btn
        input(type='password' placeholder='Confirm Password' required='')
        // <img class="icon" src="images/" alt="Error">
        // <p class="msg">Password cannot be empty</p>
      input#submit-btn(type='button' value='Sign Up')
      p.term
        | By clicking the button, you are agreeing to our 
        span
          a(href='#') Terms and Services
//
  <footer>
  Copyright  &copy; Tindyebwa-2023.
  </footer>
script(src='../js/script.js')
